<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzCategoryMapper">
    
    <resultMap type="TzCategory" id="TzCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="icon"    column="icon"    />
        <result property="pic"    column="pic"    />
        <result property="seq"    column="seq"    />
        <result property="status"    column="status"    />
        <result property="recTime"    column="rec_time"    />
        <result property="grade"    column="grade"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTzCategoryVo">
        select category_id, shop_id, parent_id, category_name, icon, pic, seq, status, rec_time, grade, update_time from tz_category
    </sql>

    <select id="selectTzCategoryList" parameterType="TzCategory" resultMap="TzCategoryResult">
        <include refid="selectTzCategoryVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="seq != null "> and seq = #{seq}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="recTime != null "> and rec_time = #{recTime}</if>
            <if test="grade != null "> and grade = #{grade}</if>
        </where>
    </select>
    
    <select id="selectTzCategoryByCategoryId" parameterType="Long" resultMap="TzCategoryResult">
        <include refid="selectTzCategoryVo"/>
        where category_id = #{categoryId}
    </select>
        
    <insert id="insertTzCategory" parameterType="TzCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into tz_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="icon != null">icon,</if>
            <if test="pic != null">pic,</if>
            <if test="seq != null">seq,</if>
            <if test="status != null">status,</if>
            <if test="recTime != null">rec_time,</if>
            <if test="grade != null">grade,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="icon != null">#{icon},</if>
            <if test="pic != null">#{pic},</if>
            <if test="seq != null">#{seq},</if>
            <if test="status != null">#{status},</if>
            <if test="recTime != null">#{recTime},</if>
            <if test="grade != null">#{grade},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTzCategory" parameterType="TzCategory">
        update tz_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="seq != null">seq = #{seq},</if>
            <if test="status != null">status = #{status},</if>
            <if test="recTime != null">rec_time = #{recTime},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteTzCategoryByCategoryId" parameterType="Long">
        delete from tz_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteTzCategoryByCategoryIds" parameterType="String">
        delete from tz_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>