<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzMessageMapper">
    
    <resultMap type="TzMessage" id="TzMessageResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="userName"    column="user_name"    />
        <result property="email"    column="email"    />
        <result property="contact"    column="contact"    />
        <result property="content"    column="content"    />
        <result property="reply"    column="reply"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectTzMessageVo">
        select id, create_time, user_name, email, contact, content, reply, status from tz_message
    </sql>

    <select id="selectTzMessageList" parameterType="TzMessage" resultMap="TzMessageResult">
        <include refid="selectTzMessageVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTzMessageById" parameterType="Long" resultMap="TzMessageResult">
        <include refid="selectTzMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTzMessage" parameterType="TzMessage" useGeneratedKeys="true" keyProperty="id">
        insert into tz_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="userName != null">user_name,</if>
            <if test="email != null">email,</if>
            <if test="contact != null">contact,</if>
            <if test="content != null">content,</if>
            <if test="reply != null">reply,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="userName != null">#{userName},</if>
            <if test="email != null">#{email},</if>
            <if test="contact != null">#{contact},</if>
            <if test="content != null">#{content},</if>
            <if test="reply != null">#{reply},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateTzMessage" parameterType="TzMessage">
        update tz_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="content != null">content = #{content},</if>
            <if test="reply != null">reply = #{reply},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTzMessageById" parameterType="Long">
        delete from tz_message where id = #{id}
    </delete>

    <delete id="deleteTzMessageByIds" parameterType="String">
        delete from tz_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>