<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzOrderMapper">
    
    <resultMap type="TzOrder" id="TzOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="prodName"    column="prod_name"    />
        <result property="userId"    column="user_id"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="total"    column="total"    />
        <result property="actualTotal"    column="actual_total"    />
        <result property="payType"    column="pay_type"    />
        <result property="remarks"    column="remarks"    />
        <result property="status"    column="status"    />
        <result property="dvyType"    column="dvy_type"    />
        <result property="dvyId"    column="dvy_id"    />
        <result property="dvyFlowId"    column="dvy_flow_id"    />
        <result property="freightAmount"    column="freight_amount"    />
        <result property="addrOrderId"    column="addr_order_id"    />
        <result property="productNums"    column="product_nums"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="dvyTime"    column="dvy_time"    />
        <result property="finallyTime"    column="finally_time"    />
        <result property="cancelTime"    column="cancel_time"    />
        <result property="isPayed"    column="is_payed"    />
        <result property="deleteStatus"    column="delete_status"    />
        <result property="refundSts"    column="refund_sts"    />
        <result property="reduceAmount"    column="reduce_amount"    />
        <result property="orderType"    column="order_type"    />
        <result property="closeType"    column="close_type"    />
    </resultMap>

    <sql id="selectTzOrderVo">
        select order_id, shop_id, prod_name, user_id, order_number, total, actual_total, pay_type, remarks, status, dvy_type, dvy_id, dvy_flow_id, freight_amount, addr_order_id, product_nums, create_time, update_time, pay_time, dvy_time, finally_time, cancel_time, is_payed, delete_status, refund_sts, reduce_amount, order_type, close_type from tz_order
    </sql>

    <select id="selectTzOrderList" parameterType="TzOrder" resultMap="TzOrderResult">
        <include refid="selectTzOrderVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="prodName != null  and prodName != ''"> and prod_name like concat('%', #{prodName}, '%')</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="actualTotal != null "> and actual_total = #{actualTotal}</if>
            <if test="payType != null "> and pay_type = #{payType}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="dvyType != null  and dvyType != ''"> and dvy_type = #{dvyType}</if>
            <if test="dvyId != null "> and dvy_id = #{dvyId}</if>
            <if test="dvyFlowId != null  and dvyFlowId != ''"> and dvy_flow_id = #{dvyFlowId}</if>
            <if test="freightAmount != null "> and freight_amount = #{freightAmount}</if>
            <if test="addrOrderId != null "> and addr_order_id = #{addrOrderId}</if>
            <if test="productNums != null "> and product_nums = #{productNums}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="dvyTime != null "> and dvy_time = #{dvyTime}</if>
            <if test="finallyTime != null "> and finally_time = #{finallyTime}</if>
            <if test="cancelTime != null "> and cancel_time = #{cancelTime}</if>
            <if test="isPayed != null "> and is_payed = #{isPayed}</if>
            <if test="deleteStatus != null "> and delete_status = #{deleteStatus}</if>
            <if test="refundSts != null "> and refund_sts = #{refundSts}</if>
            <if test="reduceAmount != null "> and reduce_amount = #{reduceAmount}</if>
            <if test="orderType != null "> and order_type = #{orderType}</if>
            <if test="closeType != null "> and close_type = #{closeType}</if>
        </where>
    </select>
    
    <select id="selectTzOrderByOrderId" parameterType="Long" resultMap="TzOrderResult">
        <include refid="selectTzOrderVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertTzOrder" parameterType="TzOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into tz_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="prodName != null and prodName != ''">prod_name,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="total != null">total,</if>
            <if test="actualTotal != null">actual_total,</if>
            <if test="payType != null">pay_type,</if>
            <if test="remarks != null">remarks,</if>
            <if test="status != null">status,</if>
            <if test="dvyType != null">dvy_type,</if>
            <if test="dvyId != null">dvy_id,</if>
            <if test="dvyFlowId != null">dvy_flow_id,</if>
            <if test="freightAmount != null">freight_amount,</if>
            <if test="addrOrderId != null">addr_order_id,</if>
            <if test="productNums != null">product_nums,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="dvyTime != null">dvy_time,</if>
            <if test="finallyTime != null">finally_time,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="isPayed != null">is_payed,</if>
            <if test="deleteStatus != null">delete_status,</if>
            <if test="refundSts != null">refund_sts,</if>
            <if test="reduceAmount != null">reduce_amount,</if>
            <if test="orderType != null">order_type,</if>
            <if test="closeType != null">close_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="prodName != null and prodName != ''">#{prodName},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="total != null">#{total},</if>
            <if test="actualTotal != null">#{actualTotal},</if>
            <if test="payType != null">#{payType},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="status != null">#{status},</if>
            <if test="dvyType != null">#{dvyType},</if>
            <if test="dvyId != null">#{dvyId},</if>
            <if test="dvyFlowId != null">#{dvyFlowId},</if>
            <if test="freightAmount != null">#{freightAmount},</if>
            <if test="addrOrderId != null">#{addrOrderId},</if>
            <if test="productNums != null">#{productNums},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="dvyTime != null">#{dvyTime},</if>
            <if test="finallyTime != null">#{finallyTime},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="isPayed != null">#{isPayed},</if>
            <if test="deleteStatus != null">#{deleteStatus},</if>
            <if test="refundSts != null">#{refundSts},</if>
            <if test="reduceAmount != null">#{reduceAmount},</if>
            <if test="orderType != null">#{orderType},</if>
            <if test="closeType != null">#{closeType},</if>
         </trim>
    </insert>

    <update id="updateTzOrder" parameterType="TzOrder">
        update tz_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="prodName != null and prodName != ''">prod_name = #{prodName},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="total != null">total = #{total},</if>
            <if test="actualTotal != null">actual_total = #{actualTotal},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="status != null">status = #{status},</if>
            <if test="dvyType != null">dvy_type = #{dvyType},</if>
            <if test="dvyId != null">dvy_id = #{dvyId},</if>
            <if test="dvyFlowId != null">dvy_flow_id = #{dvyFlowId},</if>
            <if test="freightAmount != null">freight_amount = #{freightAmount},</if>
            <if test="addrOrderId != null">addr_order_id = #{addrOrderId},</if>
            <if test="productNums != null">product_nums = #{productNums},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="dvyTime != null">dvy_time = #{dvyTime},</if>
            <if test="finallyTime != null">finally_time = #{finallyTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="isPayed != null">is_payed = #{isPayed},</if>
            <if test="deleteStatus != null">delete_status = #{deleteStatus},</if>
            <if test="refundSts != null">refund_sts = #{refundSts},</if>
            <if test="reduceAmount != null">reduce_amount = #{reduceAmount},</if>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="closeType != null">close_type = #{closeType},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteTzOrderByOrderId" parameterType="Long">
        delete from tz_order where order_id = #{orderId}
    </delete>

    <delete id="deleteTzOrderByOrderIds" parameterType="String">
        delete from tz_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>