<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzProdTagReferenceMapper">
    
    <resultMap type="TzProdTagReference" id="TzProdTagReferenceResult">
        <result property="referenceId"    column="reference_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="tagId"    column="tag_id"    />
        <result property="prodId"    column="prod_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTzProdTagReferenceVo">
        select reference_id, shop_id, tag_id, prod_id, status, create_time from tz_prod_tag_reference
    </sql>

    <select id="selectTzProdTagReferenceList" parameterType="TzProdTagReference" resultMap="TzProdTagReferenceResult">
        <include refid="selectTzProdTagReferenceVo"/>
        <where>  
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="tagId != null "> and tag_id = #{tagId}</if>
            <if test="prodId != null "> and prod_id = #{prodId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTzProdTagReferenceByReferenceId" parameterType="Long" resultMap="TzProdTagReferenceResult">
        <include refid="selectTzProdTagReferenceVo"/>
        where reference_id = #{referenceId}
    </select>
        
    <insert id="insertTzProdTagReference" parameterType="TzProdTagReference" useGeneratedKeys="true" keyProperty="referenceId">
        insert into tz_prod_tag_reference
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="prodId != null">prod_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="prodId != null">#{prodId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTzProdTagReference" parameterType="TzProdTagReference">
        update tz_prod_tag_reference
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="prodId != null">prod_id = #{prodId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where reference_id = #{referenceId}
    </update>

    <delete id="deleteTzProdTagReferenceByReferenceId" parameterType="Long">
        delete from tz_prod_tag_reference where reference_id = #{referenceId}
    </delete>

    <delete id="deleteTzProdTagReferenceByReferenceIds" parameterType="String">
        delete from tz_prod_tag_reference where reference_id in 
        <foreach item="referenceId" collection="array" open="(" separator="," close=")">
            #{referenceId}
        </foreach>
    </delete>
</mapper>