<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzSkuMapper">
    
    <resultMap type="TzSku" id="TzSkuResult">
        <result property="skuId"    column="sku_id"    />
        <result property="prodId"    column="prod_id"    />
        <result property="properties"    column="properties"    />
        <result property="oriPrice"    column="ori_price"    />
        <result property="price"    column="price"    />
        <result property="stocks"    column="stocks"    />
        <result property="actualStocks"    column="actual_stocks"    />
        <result property="updateTime"    column="update_time"    />
        <result property="recTime"    column="rec_time"    />
        <result property="partyCode"    column="party_code"    />
        <result property="modelId"    column="model_id"    />
        <result property="pic"    column="pic"    />
        <result property="skuName"    column="sku_name"    />
        <result property="prodName"    column="prod_name"    />
        <result property="version"    column="version"    />
        <result property="weight"    column="weight"    />
        <result property="volume"    column="volume"    />
        <result property="status"    column="status"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectTzSkuVo">
        select sku_id, prod_id, properties, ori_price, price, stocks, actual_stocks, update_time, rec_time, party_code, model_id, pic, sku_name, prod_name, version, weight, volume, status, is_delete from tz_sku
    </sql>

    <select id="selectTzSkuList" parameterType="TzSku" resultMap="TzSkuResult">
        <include refid="selectTzSkuVo"/>
        <where>  
            <if test="prodId != null "> and prod_id = #{prodId}</if>
            <if test="properties != null  and properties != ''"> and properties = #{properties}</if>
            <if test="oriPrice != null "> and ori_price = #{oriPrice}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="stocks != null "> and stocks = #{stocks}</if>
            <if test="actualStocks != null "> and actual_stocks = #{actualStocks}</if>
            <if test="recTime != null "> and rec_time = #{recTime}</if>
            <if test="partyCode != null  and partyCode != ''"> and party_code = #{partyCode}</if>
            <if test="modelId != null  and modelId != ''"> and model_id = #{modelId}</if>
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="skuName != null  and skuName != ''"> and sku_name like concat('%', #{skuName}, '%')</if>
            <if test="prodName != null  and prodName != ''"> and prod_name like concat('%', #{prodName}, '%')</if>
            <if test="version != null "> and version = #{version}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="volume != null "> and volume = #{volume}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectTzSkuBySkuId" parameterType="Long" resultMap="TzSkuResult">
        <include refid="selectTzSkuVo"/>
        where sku_id = #{skuId}
    </select>
        
    <insert id="insertTzSku" parameterType="TzSku" useGeneratedKeys="true" keyProperty="skuId">
        insert into tz_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prodId != null">prod_id,</if>
            <if test="properties != null">properties,</if>
            <if test="oriPrice != null">ori_price,</if>
            <if test="price != null">price,</if>
            <if test="stocks != null">stocks,</if>
            <if test="actualStocks != null">actual_stocks,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="recTime != null">rec_time,</if>
            <if test="partyCode != null">party_code,</if>
            <if test="modelId != null">model_id,</if>
            <if test="pic != null">pic,</if>
            <if test="skuName != null">sku_name,</if>
            <if test="prodName != null">prod_name,</if>
            <if test="version != null">version,</if>
            <if test="weight != null">weight,</if>
            <if test="volume != null">volume,</if>
            <if test="status != null">status,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prodId != null">#{prodId},</if>
            <if test="properties != null">#{properties},</if>
            <if test="oriPrice != null">#{oriPrice},</if>
            <if test="price != null">#{price},</if>
            <if test="stocks != null">#{stocks},</if>
            <if test="actualStocks != null">#{actualStocks},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="recTime != null">#{recTime},</if>
            <if test="partyCode != null">#{partyCode},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="pic != null">#{pic},</if>
            <if test="skuName != null">#{skuName},</if>
            <if test="prodName != null">#{prodName},</if>
            <if test="version != null">#{version},</if>
            <if test="weight != null">#{weight},</if>
            <if test="volume != null">#{volume},</if>
            <if test="status != null">#{status},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateTzSku" parameterType="TzSku">
        update tz_sku
        <trim prefix="SET" suffixOverrides=",">
            <if test="prodId != null">prod_id = #{prodId},</if>
            <if test="properties != null">properties = #{properties},</if>
            <if test="oriPrice != null">ori_price = #{oriPrice},</if>
            <if test="price != null">price = #{price},</if>
            <if test="stocks != null">stocks = #{stocks},</if>
            <if test="actualStocks != null">actual_stocks = #{actualStocks},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="recTime != null">rec_time = #{recTime},</if>
            <if test="partyCode != null">party_code = #{partyCode},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="skuName != null">sku_name = #{skuName},</if>
            <if test="prodName != null">prod_name = #{prodName},</if>
            <if test="version != null">version = #{version},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where sku_id = #{skuId}
    </update>

    <delete id="deleteTzSkuBySkuId" parameterType="Long">
        delete from tz_sku where sku_id = #{skuId}
    </delete>

    <delete id="deleteTzSkuBySkuIds" parameterType="String">
        delete from tz_sku where sku_id in 
        <foreach item="skuId" collection="array" open="(" separator="," close=")">
            #{skuId}
        </foreach>
    </delete>
</mapper>