<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzSysUserMapper">
    
    <resultMap type="TzSysUser" id="TzSysUserResult">
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="email"    column="email"    />
        <result property="mobile"    column="mobile"    />
        <result property="status"    column="status"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="shopId"    column="shop_id"    />
    </resultMap>

    <sql id="selectTzSysUserVo">
        select user_id, username, password, email, mobile, status, create_user_id, create_time, shop_id from tz_sys_user
    </sql>

    <select id="selectTzSysUserList" parameterType="TzSysUser" resultMap="TzSysUserResult">
        <include refid="selectTzSysUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
        </where>
    </select>
    
    <select id="selectTzSysUserByUserId" parameterType="Long" resultMap="TzSysUserResult">
        <include refid="selectTzSysUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertTzSysUser" parameterType="TzSysUser" useGeneratedKeys="true" keyProperty="userId">
        insert into tz_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="mobile != null">mobile,</if>
            <if test="status != null">status,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="shopId != null">shop_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="status != null">#{status},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="shopId != null">#{shopId},</if>
         </trim>
    </insert>

    <update id="updateTzSysUser" parameterType="TzSysUser">
        update tz_sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteTzSysUserByUserId" parameterType="Long">
        delete from tz_sys_user where user_id = #{userId}
    </delete>

    <delete id="deleteTzSysUserByUserIds" parameterType="String">
        delete from tz_sys_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>