<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzSysConfigMapper">
    
    <resultMap type="TzSysConfig" id="TzSysConfigResult">
        <result property="id"    column="id"    />
        <result property="paramKey"    column="param_key"    />
        <result property="paramValue"    column="param_value"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTzSysConfigVo">
        select id, param_key, param_value, remark from tz_sys_config
    </sql>

    <select id="selectTzSysConfigList" parameterType="TzSysConfig" resultMap="TzSysConfigResult">
        <include refid="selectTzSysConfigVo"/>
        <where>  
            <if test="paramKey != null  and paramKey != ''"> and param_key = #{paramKey}</if>
            <if test="paramValue != null  and paramValue != ''"> and param_value = #{paramValue}</if>
        </where>
    </select>
    
    <select id="selectTzSysConfigById" parameterType="Long" resultMap="TzSysConfigResult">
        <include refid="selectTzSysConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTzSysConfig" parameterType="TzSysConfig" useGeneratedKeys="true" keyProperty="id">
        insert into tz_sys_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paramKey != null">param_key,</if>
            <if test="paramValue != null">param_value,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paramKey != null">#{paramKey},</if>
            <if test="paramValue != null">#{paramValue},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTzSysConfig" parameterType="TzSysConfig">
        update tz_sys_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="paramKey != null">param_key = #{paramKey},</if>
            <if test="paramValue != null">param_value = #{paramValue},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTzSysConfigById" parameterType="Long">
        delete from tz_sys_config where id = #{id}
    </delete>

    <delete id="deleteTzSysConfigByIds" parameterType="String">
        delete from tz_sys_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>