<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzSysRoleMapper">
    
    <resultMap type="TzSysRole" id="TzSysRoleResult">
        <result property="roleId"    column="role_id"    />
        <result property="roleName"    column="role_name"    />
        <result property="remark"    column="remark"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTzSysRoleVo">
        select role_id, role_name, remark, create_user_id, create_time from tz_sys_role
    </sql>

    <select id="selectTzSysRoleList" parameterType="TzSysRole" resultMap="TzSysRoleResult">
        <include refid="selectTzSysRoleVo"/>
        <where>  
            <if test="roleName != null  and roleName != ''"> and role_name like concat('%', #{roleName}, '%')</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
        </where>
    </select>
    
    <select id="selectTzSysRoleByRoleId" parameterType="Long" resultMap="TzSysRoleResult">
        <include refid="selectTzSysRoleVo"/>
        where role_id = #{roleId}
    </select>
        
    <insert id="insertTzSysRole" parameterType="TzSysRole" useGeneratedKeys="true" keyProperty="roleId">
        insert into tz_sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">role_name,</if>
            <if test="remark != null">remark,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleName != null">#{roleName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTzSysRole" parameterType="TzSysRole">
        update tz_sys_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <delete id="deleteTzSysRoleByRoleId" parameterType="Long">
        delete from tz_sys_role where role_id = #{roleId}
    </delete>

    <delete id="deleteTzSysRoleByRoleIds" parameterType="String">
        delete from tz_sys_role where role_id in 
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
</mapper>