<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzSysUserRoleMapper">
    
    <resultMap type="TzSysUserRole" id="TzSysUserRoleResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>

    <sql id="selectTzSysUserRoleVo">
        select id, user_id, role_id from tz_sys_user_role
    </sql>

    <select id="selectTzSysUserRoleList" parameterType="TzSysUserRole" resultMap="TzSysUserRoleResult">
        <include refid="selectTzSysUserRoleVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="roleId != null "> and role_id = #{roleId}</if>
        </where>
    </select>
    
    <select id="selectTzSysUserRoleById" parameterType="Long" resultMap="TzSysUserRoleResult">
        <include refid="selectTzSysUserRoleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTzSysUserRole" parameterType="TzSysUserRole" useGeneratedKeys="true" keyProperty="id">
        insert into tz_sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleId != null">role_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
         </trim>
    </insert>

    <update id="updateTzSysUserRole" parameterType="TzSysUserRole">
        update tz_sys_user_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTzSysUserRoleById" parameterType="Long">
        delete from tz_sys_user_role where id = #{id}
    </delete>

    <delete id="deleteTzSysUserRoleByIds" parameterType="String">
        delete from tz_sys_user_role where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>