<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.Greenfarm.mapper.TzUserMapper">
    
    <resultMap type="TzUser" id="TzUserResult">
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="realName"    column="real_name"    />
        <result property="userMail"    column="user_mail"    />
        <result property="loginPassword"    column="login_password"    />
        <result property="payPassword"    column="pay_password"    />
        <result property="userMobile"    column="user_mobile"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="userRegtime"    column="user_regtime"    />
        <result property="userRegip"    column="user_regip"    />
        <result property="userLasttime"    column="user_lasttime"    />
        <result property="userLastip"    column="user_lastip"    />
        <result property="userMemo"    column="user_memo"    />
        <result property="sex"    column="sex"    />
        <result property="birthDate"    column="birth_date"    />
        <result property="pic"    column="pic"    />
        <result property="status"    column="status"    />
        <result property="score"    column="score"    />
    </resultMap>

    <sql id="selectTzUserVo">
        select user_id, nick_name, real_name, user_mail, login_password, pay_password, user_mobile, modify_time, user_regtime, user_regip, user_lasttime, user_lastip, user_memo, sex, birth_date, pic, status, score from tz_user
    </sql>

    <select id="selectTzUserList" parameterType="TzUser" resultMap="TzUserResult">
        <include refid="selectTzUserVo"/>
        <where>  
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="userMail != null  and userMail != ''"> and user_mail = #{userMail}</if>
            <if test="loginPassword != null  and loginPassword != ''"> and login_password = #{loginPassword}</if>
            <if test="payPassword != null  and payPassword != ''"> and pay_password = #{payPassword}</if>
            <if test="userMobile != null  and userMobile != ''"> and user_mobile = #{userMobile}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
            <if test="userRegtime != null "> and user_regtime = #{userRegtime}</if>
            <if test="userRegip != null  and userRegip != ''"> and user_regip = #{userRegip}</if>
            <if test="userLasttime != null "> and user_lasttime = #{userLasttime}</if>
            <if test="userLastip != null  and userLastip != ''"> and user_lastip = #{userLastip}</if>
            <if test="userMemo != null  and userMemo != ''"> and user_memo = #{userMemo}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="birthDate != null  and birthDate != ''"> and birth_date = #{birthDate}</if>
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="score != null "> and score = #{score}</if>
        </where>
    </select>
    
    <select id="selectTzUserByUserId" parameterType="String" resultMap="TzUserResult">
        <include refid="selectTzUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertTzUser" parameterType="TzUser">
        insert into tz_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="realName != null">real_name,</if>
            <if test="userMail != null">user_mail,</if>
            <if test="loginPassword != null">login_password,</if>
            <if test="payPassword != null">pay_password,</if>
            <if test="userMobile != null">user_mobile,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="userRegtime != null">user_regtime,</if>
            <if test="userRegip != null">user_regip,</if>
            <if test="userLasttime != null">user_lasttime,</if>
            <if test="userLastip != null">user_lastip,</if>
            <if test="userMemo != null">user_memo,</if>
            <if test="sex != null">sex,</if>
            <if test="birthDate != null">birth_date,</if>
            <if test="pic != null">pic,</if>
            <if test="status != null">status,</if>
            <if test="score != null">score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="realName != null">#{realName},</if>
            <if test="userMail != null">#{userMail},</if>
            <if test="loginPassword != null">#{loginPassword},</if>
            <if test="payPassword != null">#{payPassword},</if>
            <if test="userMobile != null">#{userMobile},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="userRegtime != null">#{userRegtime},</if>
            <if test="userRegip != null">#{userRegip},</if>
            <if test="userLasttime != null">#{userLasttime},</if>
            <if test="userLastip != null">#{userLastip},</if>
            <if test="userMemo != null">#{userMemo},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthDate != null">#{birthDate},</if>
            <if test="pic != null">#{pic},</if>
            <if test="status != null">#{status},</if>
            <if test="score != null">#{score},</if>
         </trim>
    </insert>

    <update id="updateTzUser" parameterType="TzUser">
        update tz_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="userMail != null">user_mail = #{userMail},</if>
            <if test="loginPassword != null">login_password = #{loginPassword},</if>
            <if test="payPassword != null">pay_password = #{payPassword},</if>
            <if test="userMobile != null">user_mobile = #{userMobile},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="userRegtime != null">user_regtime = #{userRegtime},</if>
            <if test="userRegip != null">user_regip = #{userRegip},</if>
            <if test="userLasttime != null">user_lasttime = #{userLasttime},</if>
            <if test="userLastip != null">user_lastip = #{userLastip},</if>
            <if test="userMemo != null">user_memo = #{userMemo},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="status != null">status = #{status},</if>
            <if test="score != null">score = #{score},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteTzUserByUserId" parameterType="String">
        delete from tz_user where user_id = #{userId}
    </delete>

    <delete id="deleteTzUserByUserIds" parameterType="String">
        delete from tz_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>